In [23]:
# Step 1 - Import required Libraries
import pandas as pd
import numpy as np
import matplotlib as plt

In [3]:
# Step 2 - Import the dataset
dataset = pd.read_csv(r'C:\Users\sunee_000\Desktop\FIFA\fifa.csv')
#used 'r' before the file path to convert normal string to raw string

In [4]:
# Step 3 - Exploring the dataset
dataset.shape #The original dataset has 18207 rows and 89 columns

(18207, 89)

In [5]:
dataset.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [14]:
# Step 4 - Look for duplicacy
# Check for duplicate rows
DuplicateRows = dataset.duplicated()
sum(DuplicateRows)

0

In [15]:
# Check for duplicate columns
DuplicateColumns = dataset.columns.duplicated()
sum(DuplicateColumns)

0

In [16]:
# Step 5 - Dropping the unnecessary variables
# Print the list of column names 
print(list(dataset.columns))

['Unnamed: 0', 'ID', 'Name', 'Age', 'Photo', 'Nationality', 'Flag', 'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage', 'Special', 'Preferred Foot', 'International Reputation', 'Weak Foot', 'Skill Moves', 'Work Rate', 'Body Type', 'Real Face', 'Position', 'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until', 'Height', 'Weight', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes', 'Release Clause']

In [184]:
# Dropped the unnecessary variables mentioned below
dataset1 = dataset.drop(['Unnamed: 0','ID','Photo','Flag','Club Logo','Real Face','Jersey Number','Loaned From'], axis=1)
# axis = 1 refers to dropping columns

In [185]:
dataset1.shape # Reduced the number of columns from 89 to 81

(18207, 81)

In [186]:
# Step 6 - Dealing with missing values
dataset1.isnull().sum()

Name                           0
Age                            0
Nationality                    0
Overall                        0
Potential                      0
Club                         241
Value                          0
Wage                           0
Special                        0
Preferred Foot                48
International Reputation      48
Weak Foot                     48
Skill Moves                   48
Work Rate                     48
Body Type                     48
Position                      60
Joined                      1553
Contract Valid Until         289
Height                        48
Weight                        48
LS                          2085
ST                          2085
RS                          2085
LW                          2085
LF                          2085
CF                          2085
RF                          2085
RW                          2085
LAM                         2085
CAM                         2085
                            ...
Dribbling                     48
Curve                         48
FKAccuracy                    48
LongPassing                   48
BallControl                   48
Acceleration                  48
SprintSpeed                   48
Agility                       48
Reactions                     48
Balance                       48
ShotPower                     48
Jumping                       48
Stamina                       48
Strength                      48
LongShots                     48
Aggression                    48
Interceptions                 48
Positioning                   48
Vision                        48
Penalties                     48
Composure                     48
Marking                       48
StandingTackle                48
SlidingTackle                 48
GKDiving                      48
GKHandling                    48
GKKicking                     48
GKPositioning                 48
GKReflexes                    48
Release Clause              1564
Length: 81, dtype: int64

In [187]:
# Dropping further variables that does not contribute towards sense making of the data
dataset2 = dataset1.drop(['Special','Work Rate', 'Body Type','Joined','Contract Valid Until','Height', 'Weight','LS', 'ST', 
                          'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM','CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB',
                          'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB','Release Clause'], axis=1)

In [188]:
dataset2.shape # Reduced the variables to 49 from 81 through domain knowledge

(18207, 47)

In [189]:
dataset2.isnull().sum()

Name                          0
Age                           0
Nationality                   0
Overall                       0
Potential                     0
Club                        241
Value                         0
Wage                          0
Preferred Foot               48
International Reputation     48
Weak Foot                    48
Skill Moves                  48
Position                     60
Crossing                     48
Finishing                    48
HeadingAccuracy              48
ShortPassing                 48
Volleys                      48
Dribbling                    48
Curve                        48
FKAccuracy                   48
LongPassing                  48
BallControl                  48
Acceleration                 48
SprintSpeed                  48
Agility                      48
Reactions                    48
Balance                      48
ShotPower                    48
Jumping                      48
Stamina                      48
Strength                     48
LongShots                    48
Aggression                   48
Interceptions                48
Positioning                  48
Vision                       48
Penalties                    48
Composure                    48
Marking                      48
StandingTackle               48
SlidingTackle                48
GKDiving                     48
GKHandling                   48
GKKicking                    48
GKPositioning                48
GKReflexes                   48
dtype: int64

In [190]:
dataset2.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,5.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,5.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,5.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,Right,4.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,Right,4.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0

In [231]:
# Remove the rows with missing values as missing records accounts for very minor portion of whole dataset records i.e 18207
dataset3 = dataset2.dropna(axis=0) #axis = 0 is for dropping the rows in the dataset

In [232]:
dataset3.shape # Dropped the missing records and reduced the dataset records from 18207 to 17918 i.e dataloss 0.0158%

(17918, 47)

In [233]:
dataset3.isnull().sum() # Checking for missing values

Name                        0
Age                         0
Nationality                 0
Overall                     0
Potential                   0
Club                        0
Value                       0
Wage                        0
Preferred Foot              0
International Reputation    0
Weak Foot                   0
Skill Moves                 0
Position                    0
Crossing                    0
Finishing                   0
HeadingAccuracy             0
ShortPassing                0
Volleys                     0
Dribbling                   0
Curve                       0
FKAccuracy                  0
LongPassing                 0
BallControl                 0
Acceleration                0
SprintSpeed                 0
Agility                     0
Reactions                   0
Balance                     0
ShotPower                   0
Jumping                     0
Stamina                     0
Strength                    0
LongShots                   0
Aggression                  0
Interceptions               0
Positioning                 0
Vision                      0
Penalties                   0
Composure                   0
Marking                     0
StandingTackle              0
SlidingTackle               0
GKDiving                    0
GKHandling                  0
GKKicking                   0
GKPositioning               0
GKReflexes                  0
dtype: int64

In [234]:
dataset3.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,5.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,5.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,5.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,Right,4.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,Right,4.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0

In [235]:
# Step 7 - Checking for data types of each variable and converting the datatypes according to the requirements
dataset4=pd.DataFrame(dataset3) # Transferred data treated with missing values to another dataframe to maintain data hygiene

In [236]:
dataset4.shape

(17918, 47)

In [237]:
dataset4.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,5.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,5.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,5.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,Right,4.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,Right,4.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0

In [238]:
dataset4.dtypes

Name                         object
Age                           int64
Nationality                  object
Overall                       int64
Potential                     int64
Club                         object
Value                        object
Wage                         object
Preferred Foot               object
International Reputation    float64
Weak Foot                   float64
Skill Moves                 float64
Position                     object
Crossing                    float64
Finishing                   float64
HeadingAccuracy             float64
ShortPassing                float64
Volleys                     float64
Dribbling                   float64
Curve                       float64
FKAccuracy                  float64
LongPassing                 float64
BallControl                 float64
Acceleration                float64
SprintSpeed                 float64
Agility                     float64
Reactions                   float64
Balance                     float64
ShotPower                   float64
Jumping                     float64
Stamina                     float64
Strength                    float64
LongShots                   float64
Aggression                  float64
Interceptions               float64
Positioning                 float64
Vision                      float64
Penalties                   float64
Composure                   float64
Marking                     float64
StandingTackle              float64
SlidingTackle               float64
GKDiving                    float64
GKHandling                  float64
GKKicking                   float64
GKPositioning               float64
GKReflexes                  float64
dtype: object

In [240]:
dataset4['Value'] = dataset4['Value'].str.replace('\u20AC','')
# Removing euro symbol from wage and value, ASCII value for euro symbol is '\u20AC
dataset4['Wage'] = dataset4['Wage'].str.replace('\u20AC','')

In [241]:
dataset4.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,L. Messi,31,Argentina,94,94,FC Barcelona,110.5M,565K,Left,5.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77M,405K,Right,5.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118.5M,290K,Right,5.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,De Gea,27,Spain,91,93,Manchester United,72M,260K,Right,4.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,K. De Bruyne,27,Belgium,91,92,Manchester City,102M,355K,Right,4.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0

In [242]:
dataset4['Value'] = dataset4['Value'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(int)
# Replacing the records for Value with K by multipying 1000 instead and same w.r.t M by multiplying 1000000

In [243]:
dataset4['Wage'] = dataset4['Wage'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(int)
# Replacing the record for Wage with K by multipying 1000 instead and same w.r.t M by multiplying 1000000

In [244]:
dataset4.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,L. Messi,31,Argentina,94,94,FC Barcelona,110500000,565000,Left,5.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000000,405000,Right,5.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500000,290000,Right,5.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,De Gea,27,Spain,91,93,Manchester United,72000000,260000,Right,4.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,K. De Bruyne,27,Belgium,91,92,Manchester City,102000000,355000,Right,4.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0

In [245]:
dataset4.shape #To ensure data consistency

(17918, 47)

In [246]:
dataset4.dtypes

Name                         object
Age                           int64
Nationality                  object
Overall                       int64
Potential                     int64
Club                         object
Value                         int32
Wage                          int32
Preferred Foot               object
International Reputation    float64
Weak Foot                   float64
Skill Moves                 float64
Position                     object
Crossing                    float64
Finishing                   float64
HeadingAccuracy             float64
ShortPassing                float64
Volleys                     float64
Dribbling                   float64
Curve                       float64
FKAccuracy                  float64
LongPassing                 float64
BallControl                 float64
Acceleration                float64
SprintSpeed                 float64
Agility                     float64
Reactions                   float64
Balance                     float64
ShotPower                   float64
Jumping                     float64
Stamina                     float64
Strength                    float64
LongShots                   float64
Aggression                  float64
Interceptions               float64
Positioning                 float64
Vision                      float64
Penalties                   float64
Composure                   float64
Marking                     float64
StandingTackle              float64
SlidingTackle               float64
GKDiving                    float64
GKHandling                  float64
GKKicking                   float64
GKPositioning               float64
GKReflexes                  float64
dtype: object

In [247]:
clean_data = pd.DataFrame(dataset4) #Creating a new data frame for further classification of data

In [249]:
clean_data.head() # Seggregating dataset into different categories as per poitions like GoalKeeping, Defense, Mid and Attack

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,L. Messi,31,Argentina,94,94,FC Barcelona,110500000,565000,Left,5.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000000,405000,Right,5.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500000,290000,Right,5.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,De Gea,27,Spain,91,93,Manchester United,72000000,260000,Right,4.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,K. De Bruyne,27,Belgium,91,92,Manchester City,102000000,355000,Right,4.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0

In [250]:
gk=clean_data.loc[clean_data['Position'] == 'GK'] #

In [251]:
gk.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
3,De Gea,27,Spain,91,93,Manchester United,72000000,260000,Right,4.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
9,J. Oblak,25,Slovenia,90,93,Atlético Madrid,68000000,94000,Right,3.0,...,11.0,70.0,27.0,12.0,18.0,86.0,92.0,78.0,88.0,89.0
18,M. ter Stegen,26,Germany,89,92,FC Barcelona,58000000,240000,Right,3.0,...,25.0,69.0,25.0,13.0,10.0,87.0,85.0,88.0,85.0,90.0
19,T. Courtois,26,Belgium,89,90,Real Madrid,53500000,240000,Left,4.0,...,27.0,66.0,20.0,18.0,16.0,85.0,91.0,72.0,86.0,88.0
22,M. Neuer,32,Germany,89,89,FC Bayern München,38000000,130000,Right,5.0,...,47.0,70.0,17.0,10.0,11.0,90.0,86.0,91.0,87.0,87.0

In [252]:
gk.shape

(1992, 47)

In [256]:
#creating dataframes for different positions
central_defense = ['CB','RCB','LCB']
full_backs= ['LB','LWB','RB','RWB']
centre_mid= ['CDM','CM','LCM','LDM','LM','RCM','RDM','RM']
attack_mid = ['CAM','LAM','RAM']
wingers = ['LW','RW']
forwards = ['CF','LF','LS','RF','RS','ST']

In [258]:
cb= clean_data[clean_data.Position.isin(central_defense)]
fb= clean_data[clean_data.Position.isin(full_backs)]
mid= clean_data[clean_data.Position.isin(centre_mid)]
attacking_mid=clean_data[clean_data.Position.isin(attack_mid)]
wing=clean_data[clean_data.Position.isin(wingers)]
forward=clean_data[clean_data.Position.isin(forwards)]

In [259]:
cb.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
8,Sergio Ramos,32,Spain,91,91,Real Madrid,51000000,380000,Right,4.0,...,75.0,82.0,87.0,92.0,91.0,11.0,8.0,9.0,7.0,11.0
12,D. Godín,32,Uruguay,90,90,Atlético Madrid,44000000,125000,Right,3.0,...,50.0,82.0,90.0,89.0,89.0,6.0,8.0,15.0,5.0,15.0
24,G. Chiellini,33,Italy,89,89,Juventus,27000000,215000,Left,4.0,...,50.0,84.0,93.0,93.0,90.0,3.0,3.0,2.0,4.0,3.0
34,M. Hummels,29,Germany,88,88,FC Bayern München,46000000,160000,Right,4.0,...,68.0,91.0,88.0,90.0,88.0,15.0,6.0,10.0,5.0,6.0
39,Thiago Silva,33,Brazil,88,88,Paris Saint-Germain,24000000,165000,Right,4.0,...,60.0,81.0,88.0,89.0,85.0,9.0,12.0,5.0,9.0,10.0

In [260]:
cb.shape

(3043, 47)

In [262]:
fb.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
35,Marcelo,30,Brazil,88,88,Real Madrid,43000000,285000,Left,4.0,...,59.0,86.0,71.0,85.0,86.0,12.0,5.0,5.0,5.0,9.0
49,Jordi Alba,29,Spain,87,87,FC Barcelona,38000000,250000,Left,3.0,...,59.0,79.0,72.0,84.0,85.0,13.0,15.0,13.0,6.0,13.0
64,Alex Sandro,27,Brazil,86,86,Juventus,36500000,160000,Left,3.0,...,60.0,82.0,81.0,84.0,84.0,7.0,7.0,9.0,12.0,5.0
69,Azpilicueta,28,Spain,86,86,Chelsea,35000000,175000,Right,3.0,...,66.0,78.0,88.0,90.0,86.0,13.0,9.0,10.0,6.0,5.0
85,D. Alaba,26,Austria,85,87,FC Bayern München,38000000,110000,Left,4.0,...,80.0,79.0,80.0,82.0,80.0,5.0,7.0,14.0,15.0,9.0

In [263]:
fb.shape

(2738, 47)

In [264]:
mid.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
4,K. De Bruyne,27,Belgium,91,92,Manchester City,102000000,355000,Right,4.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0
6,L. Modrić,32,Croatia,91,91,Real Madrid,67000000,420000,Right,4.0,...,82.0,84.0,60.0,76.0,73.0,13.0,9.0,7.0,14.0,9.0
11,T. Kroos,28,Germany,90,90,Real Madrid,76500000,355000,Right,4.0,...,73.0,85.0,72.0,79.0,69.0,10.0,11.0,13.0,7.0,10.0
13,David Silva,32,Spain,90,90,Manchester City,60000000,285000,Left,4.0,...,75.0,93.0,59.0,53.0,29.0,6.0,15.0,7.0,6.0,12.0
14,N. Kanté,27,France,89,90,Chelsea,63000000,225000,Right,3.0,...,54.0,85.0,90.0,91.0,85.0,15.0,12.0,10.0,7.0,10.0

In [266]:
mid.shape

(5774, 47)

In [265]:
attacking_mid.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
17,A. Griezmann,27,France,89,90,Atlético Madrid,78000000,145000,Left,4.0,...,79.0,87.0,59.0,47.0,48.0,14.0,8.0,14.0,13.0,14.0
28,J. Rodríguez,26,Colombia,88,89,FC Bayern München,69500000,315000,Left,4.0,...,81.0,87.0,52.0,41.0,44.0,15.0,15.0,15.0,5.0,14.0
31,C. Eriksen,26,Denmark,88,91,Tottenham Hotspur,73500000,205000,Right,3.0,...,67.0,88.0,59.0,57.0,22.0,9.0,14.0,7.0,7.0,6.0
61,Roberto Firmino,26,Brazil,86,87,Liverpool,53000000,195000,Right,3.0,...,72.0,87.0,60.0,64.0,42.0,8.0,11.0,9.0,6.0,10.0
66,T. Müller,28,Germany,86,86,FC Bayern München,45000000,135000,Right,4.0,...,60.0,83.0,44.0,41.0,44.0,6.0,7.0,11.0,14.0,14.0

In [267]:
attacking_mid.shape

(990, 47)

In [268]:
wing.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500000,290000,Right,5.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
29,L. Insigne,27,Italy,88,88,Napoli,62000000,165000,Right,3.0,...,61.0,83.0,51.0,24.0,22.0,8.0,4.0,14.0,9.0,10.0
30,Isco,26,Spain,88,91,Real Madrid,73500000,315000,Right,3.0,...,76.0,86.0,60.0,64.0,51.0,10.0,8.0,12.0,15.0,6.0
32,Coutinho,26,Brazil,88,89,FC Barcelona,69500000,340000,Right,3.0,...,70.0,85.0,55.0,54.0,47.0,12.0,7.0,9.0,14.0,6.0
55,L. Sané,22,Germany,86,92,Manchester City,61000000,195000,Left,2.0,...,71.0,78.0,36.0,32.0,35.0,8.0,12.0,9.0,9.0,14.0

In [269]:
wing.shape

(739, 47)

In [270]:
forward.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,L. Messi,31,Argentina,94,94,FC Barcelona,110500000,565000,Left,5.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000000,405000,Right,5.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
5,E. Hazard,27,Belgium,91,91,Chelsea,93000000,340000,Right,4.0,...,86.0,91.0,34.0,27.0,22.0,11.0,12.0,6.0,8.0,8.0
7,L. Suárez,31,Uruguay,91,91,FC Barcelona,80000000,455000,Right,5.0,...,85.0,85.0,62.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0
10,R. Lewandowski,29,Poland,90,90,FC Bayern München,77000000,205000,Right,4.0,...,88.0,86.0,34.0,42.0,19.0,15.0,6.0,12.0,8.0,10.0

In [271]:
forward.shape

(2642, 47)

In [272]:
clean_data.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,L. Messi,31,Argentina,94,94,FC Barcelona,110500000,565000,Left,5.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000000,405000,Right,5.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500000,290000,Right,5.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,De Gea,27,Spain,91,93,Manchester United,72000000,260000,Right,4.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,K. De Bruyne,27,Belgium,91,92,Manchester City,102000000,355000,Right,4.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0

In [273]:
clean_data.shape #To check data consistency

(17918, 47)

In [274]:
#exporting data frame to desktop in csv format
gk.to_csv('desktop\gk.csv')

In [275]:
cb.to_csv('desktop\cb.csv')
mid.to_csv('desktop\mid.csv')
wing.to_csv('desktop\wing.csv')
fb.to_csv(r'C:\Users\sunee_000\Desktop\FIFA\fb.csv')
forward.to_csv(r'desktop\forward.csv')
attacking_mid.to_csv(r'desktop\FIFA\attacking_mid.csv')
clean_data.to_csv('desktop\clean_data.csv')

In [ ]:
# Thank you.